<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>

    <link rel="stylesheet" href="/css-libs/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css-libs/bootstrap/bootstrap-theme.css">
    <script src="/js-libs/jquery/jquery.js"></script>
    <script src="/js-libs/bootstrap/bootstrap.js"></script>

    <link rel="stylesheet" href="/css/all.css" />

    <script src="/js-libs/underscore/underscore.js" type="text/javascript"></script>
    <script src="/js-libs/backbone/backbone.js" type="text/javascript"></script>

    <style type="text/css">
      body {padding-bottom: 70px;}
      .content {margin:10px;}
    </style>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Lending Analytics</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/notes">Notes</a></li>
          <li><a href="/loans">Loans</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <form role="form" id="form-loans-search" action="/api/loans/search" method="post">
        <div class="form-group">
          <input type="text" name="interest_rate_gt">
          <label for="interest_rate_lt">Interest Rate</label>
          <input type="text" name="interest_rate_lt">
        </div>

        <div class="form-group">
          <input type="text" name="ytm_gt">
          <label for="ytm_gt">Yield to Maturity</label>
          <input type="text" name="ytm_lt">
        </div>

        <div class="form-group">
          <input type="text" name="amount_gt">
          <label for="amount_lt">Amount </label>
          <input type="text" name="amount_lt">
        </div>

       <div class="form-group">
          <input type="text" name="class">
          <label for="class">Loan Class (eg D, E, G)</label>
        </div>

        <button type="submit" class="btn btn-default">Search</button>
      </form>

      <br>

      <table id="notes-table" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Interest Rate</th>
            <th>Loan Id</th>
            <th>Class</th>
            <th>Amount</th>
            <th>Term</th>
            <th>Annual Income</th>
            <th>Dti</th>
          </tr>
        </thead>
        <tbody id="loans-list"></tbody>
      </table>
    </div>
  </body>

  <script type="text/template" id="template-loan">
    <td><%- interest_rate %></td>
    <td><%- loan_id %></td>
    <td><%- loan_class %></td>
    <td><%- amount %></td>
    <td><%- term %></td>
    <td><%- annual_income %></td>
    <td><%- dti %></td>
  </script>

  <script type="text/javascript">

    var Loan = Backbone.Model.extend({});

    var LoanView = Backbone.View.extend({
      tagName: "tr",
      template: _.template($('#template-loan').html()),

      render: function() {
        var mjson = this.model.toJSON()
        var mhtml = this.template( mjson );
        this.$el.html( mhtml );
        return this;
      },
    });

    var Loans = Backbone.Collection.extend({
      model: Loan,
      searchForm: "#form-loans-search",
      loansList: "#loans-list",

      addOne: function(model){
        var view = new LoanView({model: model});
        $("#loans-list").append(view.render().el);
      },

      addAll: function(models){
        var that = this;
        _.map(models, function(model){ that.addOne(model) });
      },

      clearResults: function(){
        $(this.loansList).html("");
      },

      search: function(){
        var that = this;
        var sform = $(this.searchForm).serializeArray();

        var data = _(sform).reduce(function(sform, field) {
          sform[field.name] = field.value;
          return sform;
        }, {});

        $.ajax({
          type: "POST",
          url: '/api/loans/search',
          data: data,
          success: function(data, text, xhr){
            that.clearResults();
            var collection = new Loans(data);
            that.addAll(collection.models);
          }
        });
      }
    });

    $(document).on('ready', function(){
      window.loans = new Loans();

      $('#form-loans-search').on('submit', function(e){
        e.preventDefault();
        loans.search();
      })
    });
  </script>
</html>
