<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>

    <link rel="stylesheet" href="/css-libs/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css-libs/bootstrap/bootstrap-theme.css">
    <script src="/js-libs/jquery/jquery.js"></script>
    <script src="/js-libs/bootstrap/bootstrap.js"></script>

    <link rel="stylesheet" href="/css/all.css" />

    <script src="/js-libs/underscore/underscore.js" type="text/javascript"></script>
    <script src="/js-libs/backbone/backbone.js" type="text/javascript"></script>

    <style type="text/css">
      body {padding-bottom: 70px;}
      .content {margin:10px;}
    </style>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Lending Analytics</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/notes">Notes</a></li>
          <li><a href="/loans">Loans</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <form role="form" id="form-notes-search" action="/api/notes/search" method="post">

        <div class="form-group">
          <input type="text" name="interest_rate_gt">
          <label for="interest_rate_lt">Interest Rate</label>
          <input type="text" name="interest_rate_lt">
        </div>

        <div class="form-group">
          <input type="text" name="ytm_gt">
          <label for="ytm_gt">Yield to Maturity</label>
          <input type="text" name="ytm_lt">
        </div>

        <div class="form-group">
          <input type="text" name="discount_gt">
          <label for="discount_lt">Discount</label>
          <input type="text" name="discount_lt">
        </div>

        <div class="form-group">
          <input type="text" name="amount_gt">
          <label for="amount_lt">Amount</label>
          <input type="text" name="amount_lt">
        </div>

        <div class="form-group">
          <input type="text" name="never_late">
          <label for="never_late">Never Late</label>
        </div>

        <div class="form-group">
          <input type="text" name="loan_class">
          <label for="loan_class">Loan Class (eg D, E, G)</label>
        </div>

        <div class="form-group">
          <input type="text" name="dti_gt">
          <label for="dti">DTI</label>
          <input type="text" name="dti_lt">
        </div>

        <div class="form-group">
          <input type="text" name="revolving_utilization_gt">
          <label for="dti">Loan Revolving Utilization %</label>
          <input type="text" name="revolving_utilization_lt">
        </div>

        <div class="form-group">
          <input type="text" name="revolving_balance_gt">
          <label for="dti">Loan Revolving Balance $</label>
          <input type="text" name="revolving_balance_lt">
        </div>

         <div class="form-group">
          <input type="text" name="annual_income_gt">
          <label for="dti">Loan Annual Income</label>
          <input type="text" name="annual_income_lt">
        </div>

        <button type="submit" class="btn btn-default">Search</button>
      </form>

      <br>

      <table id="notes-table" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Loan Id</th>
            <th>Note Id</th>
            <th>Order Id</th>
            <th>Interest Rate</th>
            <th>Class</th>
            <th>Status</th>
            <th>Ask Price</th>
            <th>YTM</th>
            <th>Never Late</th>
            <th>Amount</th>
            <th>Discount</th>
            <th>Loan Annual Income</th>
            <th>Loan DTI</th>
            <th>Loan Revolving Utilization</th>
            <th>Loan Revolving Balance ($)</th>
            <th>Market URL</th>
            <th>Browse URL</th>
          </tr>
        </thead>
        <tbody id="notes-list"></tbody>
      </table>
    </div>
  </body>

  <script type="text/template" id="template-note">
    <td><%- loan_id %></td>
    <td><%- note_id %></td>
    <td><%- order_id %></td>
    <td><%- interest_rate %></td>
    <td><%- loan.loan_class %></td>
    <td><%- status %></td>
    <td><%- ask_price %></td>
    <td><%- ytm %></td>
    <td><%- never_late %></td>
    <td><%- amount %></td>
    <td><%- discount %></td>
    <td><%- loan.annual_income %></td>
    <td><%- loan.dti %></td>
    <td><%- loan.revolving_utilization %></td>
    <td><%- loan.revolving_balance %></td>
    <td>
      <a href="<%- market_url %>">Market Url</a>
    </td>
    <td>
      <a href="<%- browse_url %>">Browse Url</a>
    </td>
  </script>

  <script type="text/javascript">

    var Note = Backbone.Model.extend({});

    var NoteView = Backbone.View.extend({
      tagName: "tr",
      template: _.template($('#template-note').html()),

      render: function() {
        this.model.set("market_url", this.genUrl());
        this.model.set("browse_url", this.genBrowseUrl());

        var mjson = this.model.toJSON();
        var mhtml = this.template( mjson );
        this.$el.html( mhtml );

        return this;
      },

      genUrl: function() {
        var url = "https://www.lendingclub.com/foliofn/browseNotesLoanPerf.action?showfoliofn=true";
        url = url + "&loan_id=" + this.model.get("loan_id");
        url = url + "&order_id=" + this.model.get("order_id");
        url = url + "&note_id=" + this.model.get("note_id");

        return url;
      },

      genBrowseUrl: function() {
        var url = "https://www.lendingclub.com/foliofn/tradingInventory.action?mode=search"
        url = url + "&search_from_rate=" + this.interest_below(this.model.get("interest_rate"));;
        url = url + "&search_to_rate=" + this.interest_above(this.model.get("interest_rate"));
        url = url + "&fil_search_term=term_" + this.model.get("loan").term;
        url = url + "&search_loan_term=term_" + this.model.get("loan").term;
        url = url + "&opr_min=" + this.below(this.model.get("outstanding_principal"));
        url = url + "&opr_max=" + this.above(this.model.get("outstanding_principal"));
        url = url + "&loan_status=loan_status_" + this.model.get("status").toLowerCase();
        url = url + "&never_late=" + this.model.get("never_late");
        // url = url + "&remp_min=1";
        // url = url + "&remp_max=60";
        url = url + "&askp_min=" + this.below(this.model.get("ask_price"));
        url = url + "&askp_max=" + this.above(this.model.get("ask_price"));
        // url = url + "&credit_score_min=600";
        // url = url + "&credit_score_max=850";
        // url = url + "&ytm_min=0";
        // url = url + "&ytm_max=Any";
        // url = url + "&credit_score_trend=" + this.model.get("credit_score_trend");
        // url = url + "&markup_dis_min=" + this.below(this.model.get("discount"));
        // url = url + "&markup_dis_max=" + this.above(this.model.get("discount"));
        // url = url + "&ona_min=25";
        // url = url + "&ona_max=Any";

        return url;
      },

      interest_below: function(intrst) {
        return ((intrst - 0.01) / 100).toFixed(4);
      },

      interest_above: function(intrst) {
        return ((intrst + 0.01) / 100).toFixed(4);
      },

      above: function(num) {
        return (num + 0.01).toFixed(2);
      },

      below: function(num) {
        return (num - 0.01).toFixed(2);
      }

    });

    var Notes = Backbone.Collection.extend({
      model: Note,
      searchForm: "#form-notes-search",
      notesList: "#notes-list",

      addOne: function(model){
        var view = new NoteView({model: model});
        $("#notes-list").append(view.render().el);
      },

      addAll: function(models){
        var that = this;
        _.map(models, function(model){ that.addOne(model) });
      },

      clearResults: function(){
        $(this.notesList).html("");
      },

      search: function(){
        var that = this;
        var sform = $(this.searchForm).serializeArray();

        var data = _(sform).reduce(function(sform, field) {
          sform[field.name] = field.value;
          return sform;
        }, {});

        $.ajax({
          type: "POST",
          url: '/api/notes/search',
          data: data,
          success: function(data, text, xhr){
            that.clearResults();
            var collection = new Notes(data);
            that.addAll(collection.models);
          }
        });
      }
    });

    $(document).on('ready', function(){
      window.notes = new Notes();

      $('#form-notes-search').on('submit', function(e){
        e.preventDefault();
        notes.search();
      })
    });
  </script>
</html>
